<div class="flex-row justify-content-center text-center">
  <h1 class="text-primary">Welcome to {{ title }} Tutorial!</h1>
  <img width="600" alt="Angular Logo" src="https://cdn-images-1.medium.com/max/1600/1*yzvZWJjGTRwn-MDUPq-c6w.png" />
  <h2 class="text-warning">Let us help you with integrating Jest in to an existing Angular Application...</h2>
  <hr />
  <h4 class="text-info">By default, Angular ships with built-in jasmine test framework. Let us follow this step-by-step guide to migrate from Jasmine to Jest.</h4>
</div>
<br />
<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <button type="button" class="btn btn-success" (click)="goToLogin()">Click here to go to the Sample Login App</button>
  </div>
</div>
